
body {
    font-family: 'Amiri', serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: 
      url('sparkle.png'),
      linear-gradient(to bottom, #0b0c2a, #1a1b3c); /* stars PNG + blue gradient */
    background-repeat: repeat, no-repeat;
    background-size: 150px 150px, cover;
    background-position: top left, center;
}

#search-title {
    font-size: 12px;
    color: #ffd700;
    text-align: center;
    margin-bottom: 12px;
    font-family: 'Amiri', serif;
    letter-spacing: 1px;
}

#container {
    max-width: 600px;
    text-align: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 12px;
    

    /* glowing border*/
    border: 5px solid #ffd700 !important;
    box-shadow: 0 0  18px 6px #ffd700 !important;

}

button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}

/* Google-Style Search Bar */
#search-form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#search-input {
    width: 80%;
    padding: 10px;
    max-width: 500px;
    padding: 12px 20px;
    font-size: 16px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: box-shadow 0.2s ease;
}

    #search-input:focus {
        box-shadow: 0 0 6px rgba(66, 133, 244, 0.4);
        border-color: #4285f4;
    }
/* apply font to quiz section*/
#quiz-section,
#quiz-question,
#quiz-options button,
#quiz-feedback,
#quiz-btn {
    font-family: 'Amiri', serif;
}